page-login {

    .background-img{
        background-image: url('../assets/imgs/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        //background-position: center center;
    }
    .form1{
        //border: 2px;
        //color: blue;
        width: 100%;
        //height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        //border-style: solid;
        border: 2px solid blue;
        margin-bottom: 10px;  
    }
    #btn0{
        -webkit-text-fill-color: white;
        margin-left: 5px;
    }
    #btn01{
        margin-top: 180px;
    }
    #btn02{
        margin-top: 30px;
        // height: 50px;
        // width: 200px;
        font-size: 20px;
        
    }
    .container {
        //width: 300px; 
        margin-left:auto; 
        margin-right: auto; 
    }
    .content{
        color: blue;
        font-size: 50px;
        text-align: center;
    }

    .bicon{
        font-size: 30px;
        margin-left: 10px;
    }
    .eicon{
        font-size: 30px;
        margin-left: 15px;
    }
    
    .btn3d {
        position: relative;
        top: -6px;
        font-size: 25px;
        height: 50px;
        width: 80%;
        border: 0;
        transition: all 40ms linear;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .btn3d:active:focus,
    .btn3d:focus:hover,
    .btn3d:focus {
        -moz-outline-style: none;
        outline: medium none;
    }
    
    .btn3d:active,
    .btn3d.active {
        top: 2px;
    }
    .btn3d.btn-primary {
        box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #4D5BBE, 0 4px 4px 1px rgba(0, 0, 0, 0.5);
        background-color: #4274D7;
    }
    
    .btn3d.btn-primary:active,
    .btn3d.btn-primary.active {
        box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
        background-color: #4274D7;
    }
    
}
