page-lesson {
  .toolbar-background-md {
    background: transparent;
  }
  .toolbar-title-md{
    font-size: 2.8rem;
  }
  .content {
    background-image: url('../assets/img/screen_background.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 40px;

    .choice {
      background: transparent;
      [ion-button] {
        height: 80px;
        font-size: 1.2em;
      }
    }
  }

  .item-md.item-block .item-inner{
    border-bottom: none;
  }
  .item-md{
    background-color: transparent;
  }
  .label-md{
    margin: auto;
  }
  .btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .btn3d:active:focus,
  .btn3d:focus:hover,
  .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
  }
  .btn3d:active,
  .btn3d.active {
    top: 2px;
  }
  .btn3d.btn-primary {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #4D5BBE, 0 4px 4px 1px rgba(0, 0, 0, 0.5);
    background-color: #4274D7;
  }
  .btn3d.btn-primary:active,
  .btn3d.btn-primary.active {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #4274D7;
  }

}
