page-question {
  [xela] {
    height: 100%;
    .content {
      //height: 30%;
      ion-col{
        font-size: 1.3em;
      }

    }
    .choice {
      //height: 70%;
      [ion-button]{
        height: 45px;
        font-size: 1.3em;
      }
    }

  }
  [unit-footer] {
    ion-toolbar {
      text-align: center;

      [ion-button] {
        font-size: 1.6em;
        &:last-child {
          margin-left: 40px;
        }
        &:first-child {
          margin-right: 40px;
        }
      }
    }
    .toolbar-background {
      border-color: transparent;
      background: transparent;
    }
    &:before {
      background-image: none;
    }
  } // [unit-footer]

}
