page-quiz {
  .content{
    background-image: url('../assets/img/screen_question.png');
    background-repeat: no-repeat;
    background-size:cover;

      .choice {
        background: transparent;
        margin-top: 50%;
        height: 280px;
        [ion-button]{
          height: 50px;
          font-size: 1.3em;
        }
      }
  }

  .item-md{
    background-color: transparent;
  }
  .label-md{
     margin: auto;
  }


    [unit-footer] {
      ion-toolbar {
        text-align: center;

        [ion-button] {
          font-size: 1.6em;
          &:last-child {
            margin-left: 40px;
          }
          &:first-child {
            margin-right: 40px;
          }
        }
      }
      .toolbar-background {
        border-color: transparent;
        //background: transparent;
      }
      &:before {
        background-image: none;
      }
    } // [unit-footer]

  }



