page-starter {

  .toolbar-background-md {
    background: transparent;
  }
  .button-clear-md{
    color: white;
  }

  .view_content{
    background: white ;
    position: fixed;
    text-align: justify;
    bottom: 9%;
    left: 10px;
    right: 10px;
    height: 62%;
    .scroll-content {
      height: 100%;
      left: 10px;
      right: 10px;
      font-size: 16px;
    }
}

.Elabel{
    text-align: center;
    font-size: 20px;
}
.bicon{
  font-size: 30px;
  margin-left: 10px;
  color: white;
}
.eicon{
  //width: 10px;
  //border: 1px solid black;
  font-size: 30px;
  margin-left: 20px;
  color: white;
}
.content2{
  color: white;
  font-size: 25px;
  margin-left: 80px;

}
  .content{
    //  background-image: url('../assets/img/screen_background.png');
    background-image: url('../assets/img/evolution_screen.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    justify-content: center;
    vertical-align: middle;

    .profileAvatar{
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      top: 0;
      margin-top: 40px;
      margin-left: calc(50% - 60px);
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    
    .profile{
      padding-left: 20px;
      padding-right: 20px;
      img {
        border-radius: 50%;
        width: 100%;
        text-align: right;
      }
      .col{
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        color: #f53d3d;
        font-size: 24px;
      }
      // [col-5]{
      //   padding-top: 20px;
      //   text-align: center;
      // }

    }

    .message{
      padding-top: 20%;
      padding-left: 20px;
      padding-right: 20px;
      .card-md {
        height: 85px;
      }
      .card-content-md {
        padding: 0;
        font-size: 25px;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
      }
    }
    .btnQuiz{
      // padding-top: 5%;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      [ion-button]{
        height: 100px;
        font-size: 2em;
      }
    }

    #btnLeaderboard{
        margin-top: 140px;
        height: 100px;
        font-size: 2em;

    }
    .btnReview{
      padding-top: 3px;
      padding-left: 30px;
      padding-right: 30px;

      [ion-button]{
        //margin-top: 10px;
        height: 70px;
        font-size: 1.6em;
      }
    }
  }

  ion-footer {
    left: 30px;
    right: 30px;
    width: 85%;
    .btn-wrapper {
      text-align: center;
      font-size: 30px;
    }
    .button-md {
      height: 6rem;
      font-size: 2.2rem;
      background: transparent;
      padding:0px;
    }
  }

  .btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .btn3d:active:focus,
  .btn3d:focus:hover,
  .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
  }
  .btn3d:active,
  .btn3d.active {
    top: 2px;
  }
  .btn3d.btn-primary {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #4D5BBE, 0 4px 4px 1px rgba(0, 0, 0, 0.5);
    background-color: #4274D7;
  }
  .btn3d.btn-primary:active,
  .btn3d.btn-primary.active {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #4274D7;
  }
}

