<ion-header>
  <ion-navbar color="skyblue">
    <ion-title>
        {{'yourProfile' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="imageProfile">
    <div class="profileAvatar">
      <img *ngIf="pic_path!=''" [src]="sanitizer.bypassSecurityTrustUrl('data:image/*;base64, '+pic_path)">
      <img *ngIf="pic_path==''" src="assets/img/profile.png">
    </div>
    <div class="profileLabel">
      <h3>{{user_data.full_name}}</h3>
      <span>{{'score' | translate}}: {{total_score*10}}</span>
    </div>

   <div class="btnEdit"> 
      <button icon-start ion-button round (click)=editProfile()>
          <ion-icon name="md-create"></ion-icon>
          {{'editProfile' | translate}}
        </button>
   </div>
   <div>
      <div class="profile-detail"><span>{{'userName' | translate}}: <b>{{user_data.full_name}}</b></span></div>
      <div class="profile-detail"><span>{{'gender' | translate}}: <b>{{gender}}</b></span></div>
      <div class="profile-detail"><span>{{'phone' | translate}}: <b>{{user_data.phone_number}}</b></span></div>
      <div class="profile-detail"><span>{{'school' | translate}}: <b>{{school_name}}</b></span></div>
</div>
  </div>
</ion-content>