page-profile {

//  .icon {
//     font-size: 40px;
//     color: green;
//  }

// #profile-detail
// {
//   color: green;
//   opacity: 0.8;
//   background-color: white;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   width: 100%;
//   height: auto;
//   padding-left: 15px;
// }
// #profile-edit-btn
// {
//   text-align: center;
//   color: green;
//   opacity: 0.8;
//   background-color: white;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   width: 100%
// }

// #profile-title{
//   color: green;
//   font-size: 18px;
//   background-color: #fff;
// }
// #profile-bg {
//         position: fixed;
//         left: 0;
//         top: 44px;
//         width: 100%;
//         height: 100px;

//    /*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
//         background-size: 100%;
//         background-position: 50% 20%;

//         text-align: center;
//       }

//       #content {
//         position: relative;
//         margin-top: 150px;
//         background-color: green;
//         box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
//         padding-top: 160px;
//       }

//       #profile-info {
//         position: absolute;
//         top: -95px;
//         width: 100%;
//         z-index: 2;
//         text-align: center;
        
//       }
//       #profile-name {
//         color: white;
//         font-size: 26px;
//       }
//       #profile-score {
//         font-size: 20px;
//         color: white;
//       }
//       #profile-description a {
//         color: #222;
//       }

//       #profile-image {
//         display: block;
//         border-radius: 100px;
//         border: 1px solid #fff;
//         width: 128px;
//         height: 128px;
//         margin: 30px auto 0;
//         box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
//       }

//       .list-item-content {
//         padding: 5px;
//       }

//       .list-item {
//         color: #666666;
//       }

//       .post {
//         color: #444;
//       }

//       .post-time {
//         position: absolute;
//         right: 5px;
//         top: 5px;
//         font-size: 11px;
//         color: #888;
//       }

//       .post-profile-image {
//         display: inline-block;
//         vertical-align: top;
//         width: 48px;
//         height: 48px;
//         margin-right: 10px;
//       }
//       .post-options {
//         position: absolute;
//         font-size: 16px;
//         right: 5px;
//         bottom: 5px;
//         color: #888;
//       }

  ion-content{
    background-color: #13BA33 !important;
    .imageProfile{
      width: 100%;
      height: 250px;
      position: relative;
      padding-top: 100px;
      background-color: white;
    }
    .profileAvatar{
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      top: 0;
      margin-top: 40px;
      margin-left: calc(50% - 60px);
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .profileLabel{
      width: 100%;
      height: 151px;
      text-align: center;
      padding-top: 60px;
      color: white;
      background-color: #13BA33;
    }
  }
}
