page-home {
  [xela] {
    [equalized] {
      min-height: 100%;
      justify-content: center !important;
      align-content: center !important;
    }
    [width-100] {
      &[menu-header] {
        text-align: center;
        font-size: 1.2em;
        max-width: 100%;
      }
    }
    [ion-button] {
      height: 80px;
      font-size: 1.3em;

      span.button-inner {
        display: block;
        margin-top: 20px;
      }
      .number {
        display: block;
        margin-top: 10px;
        font-size: 1em;
        padding-bottom: 8px;
      }
      .text {
        display: block;
      }

    }
    // [ion-button]
  }// // [xela]

  ion-toolbar {
    text-align: center;

    [ion-button] {
      font-size: 1.6em;
      &:last-child {
        margin-left: 50px;
      }
      &:first-child {
        margin-right: 50px;
      }
    }
  }

  $start_sec: 0;
  $floating_point: '.';
  @for $i from 1 through 5 {
    .animated:nth-child(#{$i}) {
      animation-delay: #{$start_sec}#{$floating_point}#{$i}s !important;
      animation-duration: 1s !important;
      // -vendor-animation-iteration-count: infinite !important;
    }
    @if $i == 9 {
      $start_sec: 1;
    }
  }

}
