<ion-header>
  <ion-navbar>
    <ion-title >
      បញ្ជីជំពូក
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-scroll class="view_content" scrollY="true">
    <ion-grid>
      <ion-row class="choice">
        <ion-item>
          <ion-item-sliding *ngFor="let chapters of chapters; let i=index">
            <ion-item no-lines no-padding>
              <button ion-button class="btn btn-primary btn-lg btn3d" block  (click)="chapter(chapters.id, chapters.title)">
                <div class="number">
                  {{chapters.number}}: {{chapters.title}}
                </div>
                <!--<div class="text">-->
                  <!--{{chapters.title}}-->
                <!--</div>-->
              </button>
            </ion-item>
          </ion-item-sliding>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-scroll>
</ion-content>
  <!--</ion-list>-->

  <!--lesson-->
  <!--<ion-list equalized *ngIf="state == 'lessons'" no-lines>-->
    <!--<ion-item-sliding *ngFor="let lessons of lessons; let i=index">-->
      <!--<ion-item width-100 menu-header class="animated fadeInUp">-->
        <!--<button ion-button block color="primary" (click)="lesson(lessons.id)">-->

          <!--<div class="number">-->
            <!--មេរៀនទី: {{lessons.number}}<br>-->
          <!--</div>-->
          <!--<div class="text">-->
            <!--{{lessons.title}}-->
          <!--</div>-->
        <!--</button>-->
      <!--</ion-item>-->
    <!--</ion-item-sliding>-->
  <!--</ion-list>-->


<!--<ion-footer>-->
  <!--<ion-toolbar>-->
    <!--<button ion-button clear (click)="playButtonClick()">-->
      <!--<ion-icon name="play"></ion-icon>-->
    <!--</button>-->
    <!--<button ion-button clear (click)="exitButtonClick()" (press)="toggleDebug()">-->
      <!--<ion-icon name="power"></ion-icon>-->
    <!--</button>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
