page-level-board {

  .background-img{
    background-image: url('../assets/img/lb-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }

    .btn{
      border-radius: 100%;
      width: 90%;
      height: 50%;

    }
    .row{
      height: 100px;
    }


}
