page-level-board {

  // .background-img{
  //   // position:absolute;
  //   background-image: url('../assets/img/game.png');
  //   background-size: cover;
  //   // background-repeat: repeat;
  //   width: 150%;
  //   height: 150%;
  //   // background-image: scroll;
  //   background-attachment: scroll;
  //   overflow-x: scroll;
  //   overflow-y: scroll;


  // }
  .scroll-container {
    width: 800px;
    height: 5350px;
    background: url('../assets/img/cartoon1.png') no-repeat
 }

  .imgSvg{
    width: 100px;
    height: 5000px;
  }
  .bg-img{
    width: 100%;
    height: 100%;
    background-repeat: repeat;
  }

    // .btn{
    //   border-radius: 100%;
    //   width: 90%;
    //   height: 50%;

    // }
    // .row{
    //   height: 100px;
    // }

    ////// sinat/////////
    .style {
      display: block;
      position: absolute;
      height: 20px;
      width: 50px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
  }
  [ion-button] {
    width: 90px;
    height: 45px;
    .profileImage{
      border: 1px solid #82E0AA;
      border-radius: 100%;
      height: 100%;
      width: 150%;
    }
  }

  .button-round-md{
    border-radius: 100%;
  }
  .numberStyle{
    font: bold;
    font-style: italic;
    font-size: 2rem;
  }

}
