page-level-board {

  .background-img{
    background-image: url('../assets/img/lb-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }

    // .btn{
    //   border-radius: 100%;
    //   width: 90%;
    //   height: 50%;

    // }
    // .row{
    //   height: 100px;
    // }

    ////// sinat/////////
    .style {
      display: block;
      position: absolute;
      height: 30px;
      width: 50px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
  }
  [ion-button] {
    width: 90px;
    height: 45px;
    .profileImage{
      border: 1px solid #82E0AA;
      border-radius: 100%;
      height: 100%;
      width: 150%;
    }
  }
  .button-round-md{
    border-radius: 100%;
  }

}
