<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>
    <ion-title>ការវិវត្តនៃភាវរស់</ion-title>
  </ion-navbar>-->

</ion-header>

<ion-content xela class="background-img">
    <ion-grid *ngIf="infoID == 'root'">
          <div padding id="btn1">
            <button class="btn btn-primary btn-lg btn3d" (click)="fbForm()"><ion-icon class="ficon" name="logo-facebook"></ion-icon>{{'facebook' | translate}}</button> 
          </div>
          <div padding id="btn2">
            <button class="btn btn-primary btn-lg btn3d" (click)="createForm()">{{'register' | translate}}</button>
          </div>
          <ion-label class="content1" (click)="login()">{{'log in' | translate}}</ion-label>
    </ion-grid>




    <ion-grid *ngIf="infoID == 'C1'">
        <ion-scroll class="view_content" scrollY="true">
              <ion-label class="Elabel"><b>Biology Game</b></ion-label>
                <ion-row>
                  <ion-col>
                    <p>  
                      About: It is an education tool to help students to improve thier retention of science topics by reminding them each day of one of the Biology topics that they have studied using voice over their smartphones. Motivation and engagement of grade 12 students is accomplished through gamification of the application.                                   
                    </p>
                    <p>    
                      Grade 12 students – Download and play the game. Can see how they in answering questions correctly in comparison with their classmates, schoolmates, district students, or Facebook friends.
                    </p>
                  </ion-col>
                </ion-row>
        </ion-scroll>
    </ion-grid>

</ion-content>

<ion-footer >
    <ion-toolbar *ngIf="infoID == 'C1'" transparent>
        <button ion-button float-start clear *ngIf="infoID == 'C1'" class="bicon" (click)="backButtonClick()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </button>
        <button ion-button float-end clear *ngIf="infoID == 'C1'" class="eicon" (click)="exitButtonClick()">
          <ion-icon name="power"></ion-icon>
        </button>
    </ion-toolbar>
    <ion-toolbar *ngIf="infoID == 'root'" transparent>
        <button ion-button float-start clear *ngIf="infoID == 'root'" class="eicon" (click)="exitButtonClick()">
            <ion-icon name="power"></ion-icon>
        </button>
        <button ion-button float-end clear *ngIf="infoID == 'root'" class="content2" (click)="info('C1')">{{'about' | translate}}</button>

    </ion-toolbar>
  </ion-footer>