page-welcome {

    .background-img{
        background-image: url('../assets/imgs/background.png');
        //height: 100%;
        //width: 100%;
        //-webkit-background-size: 100%;
        //-moz-background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        //background-position: center center;
    }

    .content{
        color: blue;
        font-size: 50px;
        text-align: center;
    }
    .content1{
        color: wheat;
        font-size: 30px;
        text-align: center;
        margin-top: 200px;
    }
    .content2{
        color: wheat;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }
    .ficon{
        font-size: 35px;
        text-align: left;
        
    }

    .btn3d {
        position: relative;
        top: -6px;
        border: 0;
        transition: all 40ms linear;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .btn3d:active:focus,
    .btn3d:focus:hover,
    .btn3d:focus {
        -moz-outline-style: none;
        outline: medium none;
    }
    
    .btn3d:active,
    .btn3d.active {
        top: 2px;
    }
    .btn3d.btn-primary {
        box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
        background-color: #4274D7;
    }
    
    .btn3d.btn-primary:active,
    .btn3d.btn-primary.active {
        box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
        background-color: #4274D7;
    }
    #btn1{
        margin-top: 30px;
    }

    [xela] {
        [ion-button] {
            height: 50px;
            width: 200px;
            font-size: 20px;
            margin-top: 10px;
            
        }
    }
}
