page-leaderboard {
  ion-toolbar.scrollable-segments {
    ion-segment {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;

      ion-segment-button.segment-button {
        display: inline-block;
        width: auto;
      }
    }
  }
  .toolbar-title-md{
    font-size: 3rem;
  }
  h1{
    color: #e13838;
  }
  img{
    border-radius: 50%;
    width: 100%;
  }
  .segment-md .segment-button{
    color: white;
    font-size: 1.4rem;
  }

  //.toolbar-background-md {
  //  background: transparent;
  //  .toolbar-background-md {
  //  }
  //}
  //.button-clear-md{
  //  color: white;
  //}
  //.content{
  //  //background-image: url('../assets/img/screen_background.png');
  //  //background-repeat: no-repeat;
  //  //background-size:cover;
  //  height: 100%;
  //  justify-content: center;
  //  vertical-align: middle;
  //  .btnQuiz{
  //    //padding-top: 5%;
  //    padding-top: 40%;
  //    padding-left: 30px;
  //    padding-right: 30px;
  //    [ion-button]{
  //      height: 100px;
  //      font-size: 2.2em;
  //    }
  //  }
  //  .btnReview{
  //    padding-top: 5px;
  //    padding-left: 30px;
  //    padding-right: 30px;
  //    [ion-button]{
  //      height: 70px;
  //      font-size: 1.6em;
  //    }
  //  }
  //}
  //
  //ion-footer {
  //  left: 30px;
  //  right: 30px;
  //  width: 85%;
  //  .btn-wrapper {
  //    text-align: center;
  //  }
  //  .button-md {
  //    height: 6rem;
  //    font-size: 2.2rem;
  //    background: transparent;
  //    padding:0px;
  //  }
  //}
  //
  //.btn3d {
  //  position: relative;
  //  top: -6px;
  //  border: 0;
  //  transition: all 40ms linear;
  //  margin-top: 10px;
  //  margin-bottom: 5px;
  //  margin-left: 2px;
  //  margin-right: 2px;
  //}
  //.btn3d:active:focus,
  //.btn3d:focus:hover,
  //.btn3d:focus {
  //  -moz-outline-style: none;
  //  outline: medium none;
  //}
  //.btn3d:active,
  //.btn3d.active {
  //  top: 2px;
  //}
  //.btn3d.btn-primary {
  //  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #4D5BBE, 0 4px 4px 1px rgba(0, 0, 0, 0.5);
  //  background-color: #4274D7;
  //}
  //.btn3d.btn-primary:active,
  //.btn3d.btn-primary.active {
  //  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  //  background-color: #4274D7;
  //}

}
