page-section {
  [helper-view] {
    [helper-view-head] {

    }
    [helper-view-content] {
      font-size: 1.4em;
      text-align: justify;
      h1 {
        color: purple;
      }
      [ion-button] {
        height: 50px;
        font-size: 1.4em;
      }
    }
  } // [helper-view]

  [unit-footer] {
    ion-toolbar {
      text-align: center;

      [ion-button] {
        font-size: 1.6em;
        &:last-child {
          margin-left: 40px;
        }
        &:first-child {
          margin-right: 40px;
        }
      }
    }
    .toolbar-background {
      border-color: transparent;
      background: transparent;
    }
    &:before {
      background-image: none;
    }
  } // [unit-footer]
}
