page-section {
  .head{
    height: 9%;
    
  }
  .title{
    font-size: 1.2em;
  }
  .toolbar-background-md {
    background: transparent;
  }
  .back-button-icon-md{
    font-size: 3rem;
  }
  .bar-button-md{
    font-size: 1.6rem;
  }
  .content {
    background-image: url('../assets/img/screen_review.png');
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    .view_content{
      position: fixed;
      text-align: justify;
      bottom: 45px;
      left: 10px;
      right: 10px;
      height: 57%;
      .scroll-content {
        height: 100%;
        left: 10px;
        right: 10px;
        font-size: 16px;
      }
      [ion-button] {
        height: 50px;
        //padding: 10px;
        font-size: 1.8em;
      }
    }
  } // content
  //.card-md{
  //  font-size: 16px;
  //}

  [unit-footer] {
    ion-toolbar {
      text-align: center;
      .button-clear-md{
        color: white;
      }
      .button-md{
        padding: 0 0.7em;
      }
      [ion-button] {
        font-size: 1.6em;
        //&:last-child {
        //  margin-left: 40px;
        //}
        //&:first-child {
        //  margin-right: 40px;
        //}
      }
    }
    .toolbar-background {
      border-color: transparent;
      //background: transparent;
    }
    &:before {
      background-image: none;
    }
  } // [unit-footer]
}
