page-form {
    p {
        color: red;
        font-size: 15px;
        margin-top: 0px;
        //text-align: center;
    }
    .alert{

        background: transparent;
        margin-top: 0px;
    }
    .help-block {
        color: red;
    }
    .invalid {
        border: 1px solid #ea6153;
        border-radius: 5%;
    }

    .background-img{
        background-image: url('../assets/img/screen_background.png');
        background-size: cover;
        background-repeat: no-repeat;

    }
    .form1{

        width: 100%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        //border-style: solid;
        border: 2px solid blue;
        margin-bottom: 10px;
    }
    .container {
        //width: 300px;
        margin-top: 50px;
        margin-left:auto;
        margin-right: auto;
    }
    .container1{
        margin-top: 50px;
    }
    .cicon{
        font-size: 30px;
       // text-align: left;
        margin-left: 10px;
    }
    .bicon{
        font-size: 30px;
        margin-left: 10px;
    }
    .eicon{
        font-size: 30px;
        margin-left: 15px;
    }

    .btn3d {
        position: relative;
        top: -6px;
        border: 0;
        transition: all 40ms linear;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .btn3d:active:focus,
    .btn3d:focus:hover,
    .btn3d:focus {
        -moz-outline-style: none;
        outline: medium none;
    }

    .btn3d:active,
    .btn3d.active {
        top: 2px;
    }
    .btn3d.btn-primary {
        box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #4D5BBE, 0 4px 4px 1px rgba(0, 0, 0, 0.5);
        background-color: #4274D7;
    }

    .btn3d.btn-primary:active,
    .btn3d.btn-primary.active {
        box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.1);
        background-color: #4274D7;
    }
    #btn1{
        margin-top: 30px;

    }
    #btn0{
        font-size: 25px;
        height: 50px;
    }

    [xela]{
        [ion-input]{
            border: 3px;
            color: blue;
        }
    }

    ion-select{
        max-width: 75% !important;
        text-align: left;
    }

    [unit-footer] {
      ion-toolbar {
        text-align: center;
        .button-clear-md{
          color: white;
        }
        .button-md{
          padding: 0 0.7em;
        }

        [ion-button] {
          font-size: 1.6em;

        }
      }
      .toolbar-background {
        border-color: transparent;
        //background: transparent;
      }
      &:before {
        background-image: none;
      }
    }
}
